<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.Aura_pc_app">
        <activity android:name="com.aura.pc.ui.productdetail.ProductDetailActivity" />
        <activity
            android:name=".ui.auth.AuthActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.home.HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.aura.pc.ui.profile.CheckingAccountActivity" />
        <activity android:name="com.aura.pc.ui.profile.CompleteProfileActivity" />
        <activity android:name="com.aura.pc.ui.categories.CategoriesActivity" />
        <activity android:name="com.aura.pc.ui.products.ProductListActivity" />
        <activity android:name="com.aura.pc.ui.products.AuraProductsActivity" />
        <activity android:name="com.aura.pc.ui.cart.CartActivity" />
        <activity android:name="com.aura.pc.ui.blog.BlogActivity" />
        <activity android:name="com.aura.pc.ui.profile.ProfileActivity" />
        <activity android:name="com.aura.pc.ui.wishlist.WishlistActivity" />
        <activity
            android:name="com.aura.pc.ui.address.AddressBookActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.aura.pc.ui.address.AddressEditActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity android:name="com.aura.pc.CheckoutActivity" android:exported="true" />
    </application>

</manifest>
